*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: lightblue;
}

.form-register{
	width: 400px;
	background: #24303c;
	padding: 30px;
	margin: auto;/*se centra automaticamente*/
	margin-top: 100px;/*margen superior*/
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.form-register h4{
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
	background: #24303c;
}

.control{
	width: 100%;
	background: #24303c;
	padding: 10px;/*una especie de altura */
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid blue;
	font-family: 'calibri';
	font-size: 18px;
	color: white;
}
.form-register p{
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px; 
	background: #24303c;

}

.form-register a{
	color: white;
	text-decoration: none;
	background: #24303c;
}
.form-register a:hover{
	color: white;
	text-decoration: underline;
}

.form-register .boton{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;


}